*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body{
    background-color: gainsboro;
}


header {
    height: 15vh;
    text-align: center;
    align-content: center;
    
    position: relative;
}

/* zmienne */
:root{
    --cell-size: 80px;
    --mark-size: calc(var(--cell-size) * .9)
}

main {
    width: 100vw;
    height: 70vh;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    align-content: center;
    
}

.cellContainer{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    
}
.cell{
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
/* Usuwanie krawędzi */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: 0;
}
.cell:nth-child(3n + 1){
    border-left: 0;
}
.cell:nth-child(3n){
    border-right: 0;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
    border-bottom: 0;
}

/* kolor x */
.cell.x::before,
.cell.x::after{
    background-color: rgb(0, 177, 0);
}

/* hover kolor x */
.cellContainer.x .cell:not(.x):not(.circle):hover::before,
.cellContainer.x .cell:not(.x):not(.circle):hover::after{
    background-color: rgb(212, 255, 212);
}

/* tworzenie x */
.cell.x::before,
.cell.x::after,
.cellContainer.x .cell:not(.x):not(.circle):hover::before,
.cellContainer.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    
}
.cell.x::after,
.cellContainer.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(45deg);
}
.cell.x::before,
.cellContainer.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(-45deg);
    

}

/* kolor 0 */
.cell.circle::before,
.cell.circle::after{
    background-color: rgb(201, 0, 0);
}

/* hover kolor 0 */
.cellContainer.circle .cell:not(.x):not(.circle):hover::before,
.cellContainer.circle .cell:not(.x):not(.circle):hover::after{
    background-color: rgb(255, 180, 180);
}

/* tworzenie o */
.cell.circle::before,
.cell.circle::after,
.cellContainer.circle .cell:not(.x):not(.circle):hover::before,
.cellContainer.circle .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}
.cell.circle::before,
.cellContainer.circle .cell:not(.x):not(.circle):hover::before{
    width: calc( var(--mark-size) * .9);
    height: calc( var(--mark-size) * .9);
}
.cell.circle::after,
.cellContainer.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size) * .62);
    height: calc(var(--mark-size) * .62);
    background-color: white;
}

.cell.x,
.cell.circle{
    cursor: not-allowed;
}


footer {
    height: 15vh;
    text-align: center;
    align-content: center;
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(44, 44, 44, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.winning-message button{
    font-size: 3rem;
}
.winning-message.show{
    display: flex;
}


/* CSS */
button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none rgb(95, 95, 95) solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(95, 95, 95);
  color: #fff;
}

